/* Order your css from top to botttom, but start with general site wide rules at the top */

/* Use an * to set site wide styles*/
* {
    /*change the default color of all elements to black*/
    color: #000;
}
body {
    /*set default margin to 0 - because every browser has a different default margin*/
    margin:0;
    display: flex;
    flex-direction: column;
}
/*select all anchor tags*/
a {
    /*change the text color to light blackish*/
    color:#222222;
    /*remove default underline*/
    text-decoration: none;
}
/*select all anchor tags when they are hovered on*/
a:hover {
    /*add underline when user hovers on*/
    text-decoration: underline;
}

/*Top Section - Navigation*/
/*select any elements with a class of top-navigation*/
.top-navigation {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
}
/*select any elements with a class of top-navigation and find any li tags inside those*/
.top-navigation li {
    display:inline-block;
    padding: 5px 10px 0 0;
    vertical-align: bottom;
    margin: 5px 5px 0 0;
    font-size: 13px;
}
/*select the font awesome standard class to change the icons*/
.fa {
    font-size: 20px;
    opacity: 0.7;
    cursor: pointer;
}

